ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    border-radius: 90px;
}

.active {
    background-color: #6877ff;
    border-radius: 90px;
}

.divone{
  background-color: rgb(104, 119, 255);
  width: 700px;
    border: 25px;
    padding: 25px;
    margin: 25px;
